{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
       
         <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"/>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
             <link rel="stylesheet" type="text/css" href="{% static 'css/artiflas.css' %}">
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include "includes/header.html" %}
        
        {% block content %}{% endblock %}

         {% include "includes/footer.html" %}

        {# Global javascript #}
        
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            <script type="text/javascript" src="{% static 'js/artiflas.js' %}"></script>
        {% endblock %}
    </body>
</html>
