{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
{% image page.banner_hintergrund_bild  fill-500x350 as bg_img %}

<div class="container mx- px-16 py-16">
        <div class="md:flex items-center">
          <div class="w-full md:w-1/2">
            <div class="max-w-2xl">
              <h1
                class="text-gray-800 text-2xl font-semibold uppercase md:text-3xl"
              >
                {{ page.hero_titel }}
              </h1>
              <p class="mt-2 text-gray-600">
                {{page.hero_text}}
              </p>
            </div>
          </div>

            <div
            class="flex items-center justify-center w-full mt-6 md:mt-0 md:w-1/2 "
          >
          {% if page.bild_link %}
              <a href="{{page.bild_link}}">
            {% endif %}
            <img
              class="max-w-1xl md:ma-w-2xl  w-160 h-160"
              src="{{ bg_img.url }}"
              alt=""
            />
            </a>
            
          </div>
        </div>
      </div>

{% endblock content %}
